---
layout: protected
title: Starters
permalink: /starters/
image: 
description: Here you’ll find the starters for each class. They go over the main points from our sessions and include things that are good to learn by heart.
page_cover: '/images/banner_7.png'
---

<!-- begin page -->
<article class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <div class="page-description">{{ page.description | markdownify }}</div>
    {% endif %}
  </div>

  {% if page.image %}
  <div class="page-image">
    <img class="lazy" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <!-- Catálogo desplegable por tema -->
  {% include flip_card_catalogo.html %}

</article>

<script>
function toggleAccordion(id) {
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>