---
layout: default
permalink: /ytvideos/
title: 🎥 Videos
description: Dive into these YouTube videos to learn more about the topic. You'll find clear explanations of the concepts and solutions to different types of problems.
page_cover: '/images/banner_4.webp'
---

<div class="page container">
  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__video">
    <div class="row">
      {% for item in site.data.videos %}
      <article class="video col col-6 col-t-12 animate">
        <div class="video__content">
          {% if item.image %}
          <a href="{{ '/ytvideos/' | append: item.slug | append: '/' | relative_url }}" class="video__image">
            <img class="lazy" data-src="{{ item.image | relative_url }}" alt="{{ item.title }}">
          </a>
          {% endif %}
          <div class="video__info">
            <span class="video__icon">
              <i class="fa-brands fa-youtube"></i>
            </span>
            <h3 class="video__title">
              <a href="{{ '/ytvideos/' | append: item.slug | append: '/' | relative_url }}">{{ item.title }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>