<div class="difficulty-container">
  <button id="difficultyButton" class="difficulty-button">Dificultad</button>
  <div id="dropdownList" class="difficulty-dropdown">
    <a href="#" data-filename="{{ site.baseurl }}/exercises/{{ include.topic }}/Easy/easy.md">Fácil</a>
    <a href="#" data-filename="{{ site.baseurl }}/exercises/{{ include.topic }}/Intermediate/intermediate.md">Intermedio</a>
    <a href="#" data-filename="{{ site.baseurl }}/exercises/{{ include.topic }}/Difficult/difficult.md">Difícil</a>
  </div>
</div>

<div id="exercises-content">
  </div>