<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.18.0/firebase-app.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/12.18.0/firebase-auth.js";

  const firebaseConfig = {
    apiKey: "{{ site.firebase.api_key }}",
    authDomain: "{{ site.firebase.auth_domain }}",
    projectId: "{{ site.firebase.project_id }}",
    messagingSenderId: "{{ site.firebase.messaging_sender_id }}",
    appId: "{{ site.firebase.app_id }}"
  };

  const app = initializeApp(firebaseConfig);
  window.auth = getAuth(app);
</script>