/* ===========================
   Iconos del menú que agregué yo y lo que ya estaba
   =========================== */

.menu-icon {
  width: 35px;
  height: 35px;
//   vertical-align: middle;
//   margin-right: 0px;
}

.author-name-icon {
  width: 35px; /* Ajusta el tamaño según necesites */
  height: 35px; /* Ajusta el tamaño según necesites */
  vertical-align: middle; /* Para alinear verticalmente con el texto */
  margin-right: 8px; /* Espacio entre el icono y el nombre */
  // Si necesitas más personalización, puedes agregar aquí
}

.cta-button-icon {
  width: 40px; /* Ajusta el tamaño según necesites */
  height: 40px; /* Ajusta el tamaño según necesites */
  vertical-align: middle; /* Para alinear verticalmente con el texto */
  margin-right: 5px; /* Espacio entre el icono y el nombre */
  // Si necesitas más personalización, puedes agregar aquí
}