/* Estilos para pantallas grandes (ordenadores) */
.mindmap-container {
  width: 100%;
  // height: 800px; /* Altura fija para escritorio */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

// /* Media Query para pantallas pequeñas (celulares) */
// @media (max-width: 575px) {
//   .mindmap-container {
//     /* Ajusta la altura a un valor que sea cómodo para móviles, por ejemplo, usando viewport height */
//     height: 70vh; /* 70% de la altura de la ventana del navegador */
//     padding: 5px; /* Reduce el padding en móviles */
    
//     /* Si quieres que el ancho sea menor en algunos casos, puedes ajustarlo aquí */
//     /* width: 90%; */ 
//   }
// }